* {
  padding: 0;
  margin: 0;
}

.intro {
  min-height: 100vh;
  background: linear-gradient(133.09deg, rgba(91, 247, 230, 0.8) 0%, rgba(63, 57, 255, 0.8) 100%);
  box-shadow: 0 9px 14px rgba(0, 0, 0, 0.25);
}
.intro img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  width: 46.5%;
}
.intro div div {
  display: flex;
  height: 190px;
  flex-direction: column;
}
.intro div .year {
  justify-content: center;
  padding: 0 80px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 3px;
  color: #FFFFFF;
}
.intro div .name {
  width: 60%;
  background: linear-gradient(90deg, #1B3771 0%, rgba(27, 55, 113, 0) 100%);
  padding: 15px 0 15px 70px;
  box-sizing: border-box;
}
.intro div .name h1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.intro div .name p {
  width: 515px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.algorithm {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
  box-sizing: border-box;
}
.algorithm .left span {
  background: linear-gradient(90deg, #FFB800 0%, #FF6D23 69.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
}
.algorithm .left p {
  margin-top: 45px;
  width: 410px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
}
.algorithm .right {
  width: 60%;
}
.algorithm .right img {
  width: 100%;
}

.hello {
  background: linear-gradient(133.09deg, #5BF7E6 0%, #3F39FF 100%);
  box-shadow: 0 9px 14px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.hello .first {
  padding: 70px 40px 40px 70px;
  box-sizing: border-box;
  min-height: 650px;
}
.hello .first img {
  float: right;
  margin-top: -150px;
}
.hello .first h3 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #1B3771;
  margin-bottom: 50px;
}
.hello .first p {
  width: 600px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
}
.hello .second {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.hello .second #carouselExampleIndicators {
  display: none !important;
  width: 100%;
}
.hello .second #carouselExampleIndicators .carousel-item img {
  width: 60% !important;
  margin: 0 auto;
}
.hello .second #carouselExampleIndicators .carousel-item p {
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.hello .second h3 {
  width: 515px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #1B3771;
  padding: 0 70px;
  margin-bottom: 40px;
}
.hello .second .bg {
  width: 100%;
  background: linear-gradient(90deg, #3A4291 0%, rgba(0, 23, 255, 0) 100%);
  height: 190px;
  position: absolute;
  bottom: 25%;
  z-index: 0;
}
.hello .second .screens {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  justify-content: space-around;
  z-index: 10;
}
.hello .second .screens .next {
  height: 110px;
  width: 110px;
  align-self: center;
}
.hello .second .screens .register div {
  display: flex;
}
.hello .second .screens .register div img {
  width: 16vw;
  height: auto;
}
.hello .second .screens .register p {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.hello .second .screens .app {
  width: 48%;
  display: flex;
}
.hello .second .screens .app p {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.hello .second .screens .app div {
  display: flex;
  flex-direction: column;
}
.hello .second .screens .app div img {
  width: 16vw;
  height: auto;
}

.payment {
  display: flex;
  padding: 70px 70px 20px;
  color: #1B3771;
  justify-content: space-around;
}
.payment span {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
}
.payment p {
  margin-top: 26px;
  width: 460px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: #3A4291;
}
.payment img {
  width: 18vw;
  height: auto;
}
.payment #carouselExampleIndicators2 {
  display: none !important;
}
.payment .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.payment .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.payment .carousel-indicators li {
  background-color: #555555;
}
.payment .carousel-indicators .active {
  background-color: #000;
}

.screenshots {
  background: linear-gradient(90deg, rgba(255, 109, 35, 0.8) 0%, rgba(255, 184, 0, 0.8) 69.79%);
  box-shadow: 0 9px 14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 76px 50px;
}
.screenshots #carouselExampleIndicators3 {
  display: none;
}
.screenshots div.screen {
  flex-direction: column;
  width: 25%;
}
.screenshots div.screen p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  margin: 15px 0;
}
.screenshots div.screen img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.control .wrapper {
  padding: 80px 60px 150px 0;
  box-sizing: border-box;
  display: flex;
}
.control .wrapper span {
  background: linear-gradient(90deg, #3197FF 3.35%, #3A3E8C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  width: auto;
  margin: 15px 0;
  padding-left: 60px;
}
.control .wrapper .left {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.control .wrapper .left p {
  width: 485px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin: 70px 0 0 60px;
}
.control .wrapper .left img {
  width: 40%;
  margin: 20px auto;
}
.control .wrapper .right {
  width: 60%;
}
.control .wrapper .right img {
  margin-top: 15px;
  width: 100%;
}
.control .thanks {
  background: rgba(58, 66, 145, 0.19);
  display: flex;
  align-items: center;
  margin-bottom: 172px;
  height: 103px;
}
.control .thanks span {
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: Montserrat, monospace;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 78px;
}

@media (min-width: 1200px) and (max-width: 1699px) {
  .hello .second .screens .register div img {
    min-height: 337px;
    max-height: 477px;
  }
  .hello .second .screens .app div img {
    min-height: 337px;
    max-height: 477px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .intro div .name h1 {
    font-size: 32px;
  }
  .intro div .name p {
    font-size: 24px;
    line-height: 36px;
    width: 400px;
  }

  .algorithm {
    padding: 40px;
  }
  .algorithm .left span {
    font-size: 32px;
  }
  .algorithm .left p {
    font-size: 24px;
    line-height: 32px;
  }

  .hello .first {
    min-height: 500px;
    padding: 40px 20px 20px 40px;
  }
  .hello .first img {
    width: 50%;
    margin-top: -100px;
  }
  .hello .first h3 {
    font-size: 32px;
  }
  .hello .first p {
    font-size: 24px;
    line-height: 32px;
  }
  .hello .second h3 {
    font-size: 32px;
    line-height: 36px;
    padding: 0 40px;
  }
  .hello .second .bg {
    height: 100px;
  }
  .hello .second .screens {
    padding: 0 40px;
    box-sizing: border-box;
  }
  .hello .second .screens .next {
    height: 70px;
    width: 70px;
  }
  .hello .second .screens .reginster p {
    margin-bottom: 10px;
  }
  .hello .second .screens .app {
    width: 51%;
  }
  .hello .second .screens .app p {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .payment {
    padding: 60px;
  }
  .payment div span {
    font-size: 32px;
  }
  .payment div p {
    font-size: 24px;
    line-height: 32px;
    width: 330px;
  }
  .payment img {
    width: 16vw;
  }

  .screenshots {
    padding: 30px;
  }
  .screenshots div img {
    width: 16vw;
  }
  .screenshots div P {
    margin-bottom: 5px;
  }

  .control .wrapper {
    padding: 40px;
  }
  .control .wrapper span {
    font-size: 32px;
  }
  .control .wrapper .row .left {
    width: 50%;
  }
  .control .wrapper .row .left p {
    width: 100%;
    font-size: 24px;
    margin-top: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 26px;
  }
  .control .wrapper .row .right {
    width: 50%;
  }
  .control .thanks span {
    font-size: 42px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .intro img {
    width: 75%;
  }
  .intro div .year {
    height: 150px;
    padding: 0 50px;
  }
  .intro div .name {
    margin-top: 80%;
    width: 100%;
    padding: 15px 30px;
    height: auto;
  }
  .intro div .name h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .intro div .name p {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }

  .algorithm {
    flex-direction: column;
    padding: 30px 15px;
    box-sizing: border-box;
    justify-content: space-evenly;
    min-height: 60vh;
  }
  .algorithm .left {
    width: 100%;
  }
  .algorithm .left span {
    display: block;
    font-size: 24px;
    text-align: center;
  }
  .algorithm .left p {
    font-size: 18px;
    width: 80%;
    margin: 20px auto;
    line-height: 20px;
  }
  .algorithm .right {
    width: 80%;
    margin: 0 auto;
  }

  .hello .first {
    padding: 40px;
    min-height: 500px;
    width: 100%;
    text-align: center;
  }
  .hello .first img {
    width: 90%;
    float: unset;
    margin-top: -100px;
  }
  .hello .first h3 {
    font-size: 28px;
    text-align: center;
    margin: 25px 0;
  }
  .hello .first p {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 26px;
  }
  .hello .second #carouselExampleIndicators {
    display: block !important;
  }
  .hello .second #carouselExampleIndicators .carousel-inner .carousel-item p {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .hello .second #carouselExampleIndicators .carousel-inner .carousel-item img {
    width: 50%;
  }
  .hello .second h3, .hello .second .bg, .hello .second .screens {
    display: none;
  }

  .payment {
    padding: 40px;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .payment div {
    width: 100%;
  }
  .payment div span {
    display: block;
    font-size: 28px;
    width: 100%;
    text-align: center;
  }
  .payment div p {
    width: 95%;
    margin: 20px auto 40px;
    font-size: 20px;
    line-height: 26px;
  }
  .payment img {
    width: 25vw;
  }

  .screenshots {
    padding: 40px;
    flex-wrap: wrap;
  }
  .screenshots div.screen {
    display: none;
  }
  .screenshots #carouselExampleIndicators3 {
    display: block !important;
    width: 100%;
  }
  .screenshots #carouselExampleIndicators3 .carousel-inner .carousel-item img {
    display: block;
    margin: 0 auto;
  }
  .screenshots #carouselExampleIndicators3 .carousel-inner .carousel-item p {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
  }

  .control .wrapper {
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
  }
  .control .wrapper span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 0;
  }
  .control .wrapper .left {
    width: 100%;
  }
  .control .wrapper .left p {
    padding: 0 40px;
    width: 100%;
    margin: 20px 0;
    font-size: 22px;
    line-height: 26px;
  }
  .control .wrapper .left img {
    margin: 30px auto;
    width: 30%;
  }
  .control .wrapper .right {
    width: 100%;
  }
  .control .wrapper .right img {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .control .thanks {
    margin-bottom: 10%;
  }
  .control .thanks span {
    font-size: 32px;
  }
}
@media (max-width: 599px) {
  .intro img {
    width: 85%;
  }
  .intro div .year {
    height: 120px;
    padding: 0 50px;
  }
  .intro div .name {
    margin-top: 80%;
    width: 100%;
    padding: 15px 30px;
    height: auto;
  }
  .intro div .name h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .intro div .name p {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }

  .algorithm {
    flex-direction: column;
    padding: 30px 15px;
    box-sizing: border-box;
    justify-content: space-evenly;
    min-height: 70vh;
  }
  .algorithm .left {
    width: 100%;
  }
  .algorithm .left span {
    display: block;
    font-size: 24px;
    text-align: center;
  }
  .algorithm .left p {
    font-size: 18px;
    width: 100%;
    line-height: 20px;
    margin-top: 20px;
  }
  .algorithm .right {
    width: 100%;
  }

  .hello .first {
    padding: 0;
    min-height: 500px;
  }
  .hello .first img {
    width: 95%;
    float: unset;
    margin-top: -40px;
    margin-left: 2.5%;
  }
  .hello .first h3 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 25px;
  }
  .hello .first p {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    padding: 0 40px;
  }
  .hello .second h3 {
    display: none !important;
  }
  .hello .second .bg {
    display: none !important;
  }
  .hello .second .screens {
    display: none !important;
    flex-direction: column;
  }
  .hello .second #carouselExampleIndicators {
    display: block !important;
  }
  .hello .second #carouselExampleIndicators .register {
    width: 100%;
  }
  .hello .second #carouselExampleIndicators .register p {
    margin-bottom: 10px;
  }
  .hello .second #carouselExampleIndicators .register div img {
    width: 30vw;
    margin: 0 auto;
  }
  .hello .second #carouselExampleIndicators .next {
    transform: rotateZ(90deg);
    width: 45px;
    height: 45px;
  }
  .hello .second #carouselExampleIndicators .app {
    width: 100%;
  }
  .hello .second #carouselExampleIndicators .app div {
    margin: 0 auto;
  }
  .hello .second #carouselExampleIndicators .app div img {
    width: 30vw;
  }
  .hello .second #carouselExampleIndicators .app div p {
    font-size: 12px;
    padding-bottom: 5px;
  }

  .payment {
    padding: 0;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .payment div.text {
    width: 100%;
    padding: 40px;
  }
  .payment div.text span {
    display: block;
    font-size: 24px;
    width: 100%;
    text-align: center;
  }
  .payment div.text p {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0 20px;
  }
  .payment img {
    display: none;
  }
  .payment #carouselExampleIndicators2 {
    display: block !important;
    width: 100%;
  }
  .payment #carouselExampleIndicators2 .carousel-inner .carousel-item img {
    display: block;
    width: 60%;
    margin: 10px auto;
  }
  .payment #carouselExampleIndicators2 a.carousel-control-next-icon, .payment #carouselExampleIndicators2 a.carousel-control-prev-icon {
    color: #000000;
  }

  .screenshots {
    padding: 20px 0;
    flex-wrap: wrap;
  }
  .screenshots div.screen {
    display: none;
  }
  .screenshots #carouselExampleIndicators3 {
    display: block;
    width: 100%;
  }
  .screenshots #carouselExampleIndicators3 .carousel-inner .carousel-item p {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    color: #FFFFFF;
  }
  .screenshots #carouselExampleIndicators3 .carousel-inner .carousel-item img {
    display: block;
    width: 60% !important;
    margin: 0 auto;
  }

  .control .wrapper {
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
  }
  .control .wrapper span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 0;
  }
  .control .wrapper .left {
    width: 100%;
  }
  .control .wrapper .left p {
    padding: 0 40px;
    width: 100%;
    margin: 20px 0;
    font-size: 18px;
    line-height: 22px;
  }
  .control .wrapper .left img {
    margin: 20px auto;
  }
  .control .wrapper .right {
    width: 100%;
  }
  .control .wrapper .right img {
    display: block;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .control .thanks {
    margin-bottom: 10%;
  }
  .control .thanks span {
    font-size: 28px;
  }
}

/*# sourceMappingURL=style..css.map */
